/* Основные цвета */
:root {
    --warm-terracotta: #C77058;
    --dark-brown: #2D1C12;
    --muted-coral: #EF8B76;
    --deep-green: #2B6F16;
    --soft-light-green: #7FAF70;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--soft-light-green);
    color: var(--dark-brown);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--warm-terracotta);
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid var(--deep-green);
}

section h2 {
    color: var(--deep-green);
    border-bottom: 2px solid var(--deep-green);
    padding-bottom: 5px;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: var(--dark-brown);
}

input, textarea, select {
    padding: 8px;
    border: 1px solid var(--deep-green);
    border-radius: 4px;
    margin-top: 5px;
}

input[type="date"], input[type="number"], input[type="text"] {
    width: 50%;
}

textarea {
    resize: vertical;
    height: 60px;
}

fieldset {
    border: 1px solid var(--muted-coral);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

legend {
    color: var(--muted-coral);
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: var(--soft-light-green); /* Глубкий зеленый */
    color: rgb(233, 23, 23); /* Белый текст */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--soft-light-green); /* Мягкий светло-зеленый на наведение */
}

footer {
    background-color: var(--dark-brown);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.collapsible .content {
    max-height: 0; /* Устанавливаем высоту 0, чтобы скрыть содержимое */
    overflow: hidden; /* Скрываем содержимое за пределами контейнера */
    padding: 0; /* Убираем внутренние отступы, чтобы избежать пустого пространства */
    background-color: var(--soft-light-green); /* Цвет фона */
    border: 1px solid var(--deep-green); /* Границы */
    border-radius: 4px;
    margin-top: 10px;
    transition: max-height 0.5s ease, padding 0.3s ease; /* Добавляем плавный переход */
}

.collapsible h2 {
    cursor: pointer; /* Указываем, что элемент кликабелен */
    margin: 0;
    padding: 10px;
    background-color: var(--warm-terracotta); /* Цвет заголовка */
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.collapsible h2:hover {
    background-color: var(--muted-coral);;
}

.collapsible:hover .content {
    max-height: 500px; /* Достаточно большая высота, чтобы вместить содержимое */
    padding: 10px; /* Возвращаем внутренние отступы при раскрытии */
}